Peanutty.loadEnvironment()

peanutty.sendMessage
    message: 
        """
        <h4>Welcome to Peanutty!</h4>
        <p>
            To get started, try to knock over all the letters with one object. Use a box, a ball, or a freeform shape.
            <a href='javascript:void(0)' onclick='peanutty.resetWorld(); view.loadCode(); peanutty.runScript()'>Reset and try again</a>
        </p>
        """

peanutty.createGround
    x: peanutty.canvas.width() / 2
    y: peanutty.canvas.height() - 50
    width: 600
    height: 10
    
# INPUTS

#peanutty.tempShapes.push
#    start: {{x: peanutty.canvas.width() / 2, y: peanutty.canvas.height() - 55}}
#    path: [
#        {{x: peanutty.canvas.width() / 2, y: peanutty.canvas.height() - 55}}, 
#        {{x: peanutty.canvas.width() / 2, y: peanutty.canvas.height() - 155}}
#    ]

instructions = $(document.createElement("DIV"))
instructions.css
    height: '30px'
    width: '300px'
    textAlign: 'center'
    fontSize: '20pt'
    position: 'absolute'
    top: '20px'
    left: "#{{(peanutty.canvas.width() / 2) - 150}}px"
instructions.html("Type your name:")
view.$('#canvas_container').append(instructions)

nameInput = $(document.createElement('INPUT'))
nameInput.css
    width: '300px'
    height: '30px'
    fontSize: '20pt'
    position: 'absolute'
    top: '50px'
    left: "#{{(peanutty.canvas.width() / 2) - 150}}px"
    
nameInput.bind 'keyup', (e) ->
    letters = $(e.currentTarget).val()
    return if letters.replace(/\s/g, '').length == 0
    view.loadScript()
    peanutty.destroyDynamicObjects()
    peanutty.addToScript
        command:
            """
            peanutty.createLetters
                x: peanutty.canvas.width() / 2
                y: peanutty.canvas.height() - 55
                letters: "#{{letters}}"
            """
        time: 0
    

view.$('#canvas_container').append(nameInput)
nameInput[0].focus()

# RUN SIMULATION

peanutty.runSimulation()
