Peanutty.loadEnvironment()

peanutty.sendMessage
    message: 
        """
        <h4>Welcome to Peanutty!</h4>
        <p>
            To get started, try to knock over all the letters with one object. Use a box, a ball, or a freeform shape.
            <a href='javascript:void(0)' onclick='peanutty.resetWorld(); view.loadCode(); peanutty.runScript()'>Reset and try again</a>
        </p>
        """


peanutty.createGround
    x: 240
    y: 180
    width: 260
    height: 10

peanutty.createLetter
    letter: "H"
    x: 170
    y: 170

peanutty.createLetter
    letter: "e"
    x: 240
    y: 170

peanutty.createLetter
    letter: "G"
    x: 320
    y: 170

peanutty.createGround
    x: peanutty.canvas.width() / 2
    y: peanutty.canvas.height() - 50
    width: 600
    height: 10

x = 170
y = 490 - 50

peanutty.createLetter
    letter: "H"
    x: x
    y: y - 15

peanutty.createLetter
    letter: "e"
    x: x + 45
    y: y

peanutty.createLetter
    letter: "l"
    x: x + 100
    y: y

peanutty.createLetter
    letter: "l"
    x: x + 145
    y: y

peanutty.createLetter
    letter: "o"
    x: x + 205
    y: y

peanutty.createLetter
    letter: "W"
    x: x + 320
    y: y

peanutty.createLetter
    letter: "o"
    x: x + 370
    y: y

peanutty.createLetter
    letter: "r"
    x: x + 415
    y: y

peanutty.createLetter
    letter: "l"
    x: x + 445
    y: y

peanutty.createLetter
    letter: "d"
    x: x + 505
    y: y

peanutty.runSimulation()
