<div id='top_area'>
    <div id='message'></div>
    <div id='execute'>
        <a class="reset_script submit button bg-green">
            <label>Reset&nbsp;Script</label>
        </a>
        <a class="load_script submit button bg-green">
            <label>Load&nbsp;Script</label>
        </a>
        <a class="run_script submit button bg-green">
            <label>Run&nbsp;Script</label>
        </a>
    </div>
</div>

<div id='tools'>
    <div id='free' class='tool'>
        Free
    </div>
    <div id='box' class='tool'>
        Box
    </div>
    <div id='ball' class='tool selected'>
        Ball
    </div>
    <div class='tool_spacer'></div>
    <div id='static' class='setting'>
        Static
    </div>
    <div id='dynamic' class='setting selected'>
        Falling
    </div>
</div>
<div id='canvas_container'>
    <canvas id='canvas' width="800" height="500"></canvas>
</div>
<div id='console'>
    <div id='tabs'>
        <a class='tab script selected'>Script</a>
        <a class='tab stage'>Stage</a>
        <a class='tab environment'>Environment</a>
    </div>
    <div id='codes'>
        <div class='code script selected' contenteditable=true></div>
        <div class='code stage' contenteditable=true></div>
        <div class='code environment' contenteditable=true></div>        
    </div>
</div>
