<div id='top_area'>
    <div id='message'></div>
    <div id='execute'>
        <a class="reset_script submit btn large danger">
            Reset&nbsp;Script
        </a>
        <a class="load_script submit btn large primary">
            Load&nbsp;Script
        </a>
        <a class="run_script submit btn large success">
            Run&nbsp;Script
        </a>
    </div>
</div>

<div id='tools'>
    <div id='free' class='tool'>
        Free
    </div>
    <div id='box' class='tool'>
        Box
    </div>
    <div id='ball' class='tool selected'>
        Ball
    </div>
    <div class='tool_spacer'></div>
    <div id='static' class='setting'>
        Static
    </div>
    <div id='dynamic' class='setting selected'>
        Falling
    </div>
</div>
<div id='canvas_container'>
    <canvas id='canvas' width="800" height="500"></canvas>
</div>
<div id='console'>
    <div id='tabs'>
        <a class='tab script selected'>Script</a>
        <a class='tab stage'>Stage</a>
        <a class='tab environment'>Environment</a>
    </div>
    <div id='codes'>
        <div class='message'></div>
        <div class='code script selected'></div>
        <div class='code stage'></div>
        <div class='code environment'></div>        
    </div>
</div>

<section id='about'>
    <div class='page-header'>
        <h1>
            About Peanutty!
            <small>What is this, who created it?</small>
        </h1>
    </div>
    <p>Peanutty! was created by Jared Cosulich as a way to make it easier for people to learn how to program while having fun.</p>
    <p>Basically it works like this:</p>
    <ul>
        <li>Person discovers Peanutty! and starts solving puzzles, conquering challenges, and just having fun.</li>
        <li>Person notices that everything they do creates code in the coding area</a>
        <li>Person starts to play with the code, making larger and larger tweaks to see what happens</li>
        <li>Eventually person starts writing code directly, potentially even creating their own challenge or puzzle to share with others</li>
        <li>The next person who comes along has access to more interesting puzzles and challenges to play with!</li>
        <li>Yay Peanutty!</li>
    </ul>        
    <p>
        If you'd like to contact Jared or have any questions about Peanutty! you can find him on Twitter:
        <a href='http://twitter.com/jaredcosulich' target='_blank'>@jaredcosulich</a>
    </p>
</section>

<section id='challenges'>
    <div class='page-header'>
        <h1>
            Challenges / Puzzles / Levels
            <small>Verified challenges, puzzles, levels, etc. that people have created.</small>
        </h1>
    </div>
    <p>Coming Soon...</p>
</section>
