<div id='tools'>
    <div id='free' class='tool'>
        Free
    </div>
    <div id='box' class='tool'>
        Box
    </div>
    <div id='ball' class='tool selected'>
        Ball
    </div>
    <div class='tool_spacer'></div>
    <div id='static' class='setting'>
        Static
    </div>
    <div id='dynamic' class='setting selected'>
        Falling
    </div>
</div>
<div id='canvas_container'>
    <canvas id='canvas' width="800" height="570"></canvas>
</div>

<div id='code_buttons'>
    <a class="run_script submit btn large success">
        Run&nbsp;Script
    </a>
    <a class="load_script submit btn large primary">
        Load&nbsp;Script
    </a>
    <a class="reset_script submit btn large danger">
        Reset&nbsp;Script
    </a>
</div>

<div id='console'>
    <ul class="tabs">
      <li class='tab script active'><a>Script</a></li>
      <li class='tab stage'><a>Stage</a></li>
      <li class='tab environment'><a>Environment</a></li>
    </ul>
    <div id='codes'>
        <div class='code script selected'></div>
        <div class='code stage'></div>
        <div class='code environment'></div>        
    </div>
</div>

<section id='stages'>
    <div class='page-header'>
        <h1>
            Stages
            <small>Verified stages that people have created.</small>
        </h1>
    </div>
    <p>Coming Soon...</p>
</section>

<section id='coding'>
    <div class='page-header'>
        <h1>
            Coding
            <small>Peanutty! teaches you how to code.</small>
        </h1>
    </div>
    <p>Peanutty! makes it very easy for you to start coding and creating interesting things.</p>
    <p>
        The language you are writing is 
        <a href='http://coffeescript.org' target='_blank'>CoffeeScript</a>
        which is then compiled in to 
        <a href='http://en.wikipedia.org/wiki/JavaScript' target='_blank'>JavaScript</a>.
    </p>
    <p>
        Both CoffeeScript and JavaScript are languages that companies use every day to create websites and applications that are used by
        millions of people every day. They are very practical languages to learn if you ever want to become a professional programmer.
    </p>
    <p>
        Even if you don't become a professional programmer, CoffeeScript and JavaScript can help you create interactive websites for
        what ever you can dream up. Create a blog with scrolling photos, or a map of all the places you've been. Once you understand
        how to program with CoffeeScript or JavaScript you can build almost anything on the Internet.
    </p>
</section>

<section id='about'>
    <div class='page-header'>
        <h1>
            About Peanutty!
            <small>What is this, who created it?</small>
        </h1>
    </div>
    <p>
        Peanutty! was created by 
        <a href='http://about.me/jaredcosulich' target='_blank'>Jared Cosulich</a> 
        as a way to make it easier for people to learn how to program while having fun.
    </p>
    <p>Basically it works like this:</p>
    <ul>
        <li>Person discovers Peanutty! and starts solving puzzles, conquering challenges, and just having fun.</li>
        <li>Person notices that everything they do creates code in the coding area</a>
        <li>Person starts to play with the code, making larger and larger tweaks to see what happens</li>
        <li>Eventually person starts writing code directly, potentially even creating their own challenge or puzzle to share with others</li>
        <li>The next person who comes along has access to more interesting puzzles and challenges to play with!</li>
        <li>Yay Peanutty!</li>
    </ul>        
    <p>
        If you'd like to contact Jared or have any questions about Peanutty! you can find him on Twitter:
        <a href='http://twitter.com/jaredcosulich' target='_blank'>@jaredcosulich</a>
    </p>
</section>

<section id='docs'>
    <div class='page-header'>
        <h1>
            Documentation
            <small>A partial list of things you can do in Peanutty!</small>
        </h1>
    </div>
    <p>Coming Soon...</p>
</section>
