    <div class='topbar'>
        <div class='topbar_inner'>
            <a href='#' class='brand'>Peanutty! (0.1.0)</a>
            <ul class='nav'>
                <li><a href='#home'>Home</a></li>
                <li><a href='#stages'>Stages</a></li>
                <li><a href='#create'>Create</a></li>
                <li><a href='#coding'>Coding</a></li>
                <li><a href='#about'>About</a></li>
                <li><a href='#docs'>Documentation</a></li>
            </ul>
        </div>
    </div>
    <div id='content'></div>