#top_area {
    overflow: hidden;
    margin-bottom: 12px;
    #message {
        float: left;
        width: 786px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 6px;
        height: 36px;
        overflow: hidden;
        margin-left: 45px;
    }

    #execute {
        float: right;
        padding-right: 60px;
        .button {
            float: right;
            margin: 10px 30px 0 0;
        }
    }
}

#canvas_container {
    margin-bottom: 60px;
    float: left;
    position: relative;
    #canvas {
        background-color: #eee;
        border: 1px solid @header-background;
        cursor: pointer;
    }
}

#tools {
    width: 45px;
    float: left;
    text-align: center;
    border-top: 1px solid @header-background;
    .tool, .setting, .tool_spacer {
        line-height: 45px;
        height: 45px;
        border-bottom: 1px solid @header-background;
    }
    .tool, .setting {
        border-left: 1px solid @header-background;
        cursor: pointer;
        &.selected {
            background-color: @header-background;
            color: white;
        }
    }
}

#console {
    width: 420px;
    float: left;
    
    #tabs {
        overflow: hidden;
        .tab {
            float: left;
            display: block;
            width: 90px;
            padding: 6px 0;
            border-top: 1px solid @header-background;
            border-left: 1px solid @header-background;
            border-right: 1px solid @header-background;
            text-align: center;
            margin-left: 12px;
            &.selected {
                background-color: @header-background;
                color: white;
            }
        }
    }
    
    #codes {
        border-top: 1px solid @header-background;
        border-right: 1px solid @header-background;
        background-color: white;
        height: 450px;
        width: 390px;
        overflow: auto;
        .code {
            padding: 6px;
            width: 500px;
            display: none;
            &.selected {
                display: block;
            }
            p {
                margin: 0;
                padding: 6px;
                background-color: white;
                .transition(background-color 1s linear);
                &.highlight {
                    background-color: @green;
                }
            }
        }
        .message {
            height: 0;
            overflow: auto;
            padding: 0 12px;
            background-color: white;
            border-bottom: 1px solid @header-background;
            .transition(all 1s linear);
            &.displayed {
                padding: 12px;
                height: 45px;
            }
            &.highlight {
                background-color: @green;
            }
        }
    }
}