#canvas {
    width: 60%;
    background-color: #eee;
    border-right: 1px solid @header-background;
    margin-bottom: 60px;
}

#tools {
    width: 45px;
    float: left;
    text-align: center;
    .tool {
        line-height: 45px;
        height: 45px;
        border: 1px solid #ccc;
    }
}

#console {
    width: 30%;
    float: right;
}